.forgot {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image3 {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  align-content:center;
  width: 60vh;
  height: 60vh; 
  background-color: white;
}
.image3 img {
    position: relative; 
    display: flex;
    align-items:center;
    align-content:center;
    padding-top: 70px; 
    width: 80%;
    height: 80%;
    object-fit: cover; 
}
.box {
    border: 1px solid aliceblue;
    
    background-color: #fff; 
    
     background-color: white;
    }  
    
    
.g-btn {
      width: 100% !important;
      height: 40px !important;
      line-height: 40px !important;
      font-size: 15px !important;
    } 
    
.g-btn > div,
.g-btn > div > svg {
      width: 40px !important;
      height: 38px !important;
    }   
  