.signup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 40px; 
  align-content: center;
  align-items: center;
}

h1 {
display: flex;
justify-content: center;
align-items: center;
} 


.image1 {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items:center;
  align-content:center;
  width: 80vh;
  height: 80vh; 
  background-color: white;
}  

.image1 img {
  position: relative; 
  margin: auto;
  margin-left: 20px;
  align-items:center;
  align-content:center;
  width: 80%;
  height: 80%;
}


.box {
border: 1px solid whitesmoke; 
background-color: #fff; 
background-color: white;
}  


.g-btn {
width: 100% !important;
height: 40px !important;
line-height: 40px !important;
font-size: 15px !important;
} 

.g-btn > div,
.g-btn > div > svg {
width: 40px !important;
height: 38px !important;
}   


